
<h1>Login</h1>


<form action="/login" method="POST">

<div>
    Username:
    <input type="text" name="username">
</div>


<div>
    Password:
    <input type="text" name="password">
</div>



    <button>Submit</button>
</form>


<div>
Forgot Password?
<a href="/reset-password/get-link">Reset Password</a>

</div>