<h2>Reset Your password</h2>

<div style="background-color: red" id="alert"></div>


<form action="/reset-password-final" method="POST" id="passwordForm">

<div>
    New password: 
    <input type="password" name="password1" id="pass1">
</div>


<div>
    Confirm password: 
    <input type="password" name="password2" id="pass2">
</div>

<input type="hidden" name="userID" value="{{userID}}">



<button>Submit</button>
</form>


<script src="/js/pass.js"></script>