<h2>Reset Password</h2>


<form action="/reset-password/get-link" method="POST">

<div>
    Email: 
    <input type="email" name="email" >
</div>

<div>
    Username: 
    <input type="text" name="username" >
</div>



<button>Get Reset Link</button>

</form>